/* #region general */
.appWrapper {
    background-color: #ffbc4278;
    height: 100vh;
}

.bg_main {
    background-color: #FFA500;
}
/* #endregion general */


/* #region header  */

.app_header {
    height: 75px;
    position: sticky;
    top: 0; 
    width: 100%;
    margin-bottom: 1rem;
}

.logo_image {
    height: 50px;
}

.logo_image img {
    height: 100%;
}

/* #endregion header  */


/* #region main */
/* .meme_form {
    margin-top: 6rem;
} */
.main_content {
    margin-top: 0.5rem;
    height: calc(100vh - 333px);
}

.image_meme {
    height: 300px;
}

.image_meme img {
    height: 100%;
    max-width: 100%;
}

.text_container {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.text {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 700;
    color: white;
    -webkit-text-stroke: 0.8px black
}

.text:hover {
    cursor: pointer;
}

.droppable {
    height: 80px;
    width: 80px;
    border: 1px solid red;
}

/* #region move buttons */
.move_buttons {
    height: 100px;
    width: 100px;
    margin: auto;
}

.up_button {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}
.down_button {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%);
}
.left_button {
    position: absolute; 
    left: 0%;
    top: 35%;
}
.right_button {
    position: absolute;
    right: 0%;
    top: 35%;
}

/* #end region move buttons */

/* #endregion_main */

/* #region footer */

.app_footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 70px;
}

/* #endregion footer */

