/* #region general */

.bg_main {
    background-color: #FFA500;
}
/* #endregion general */


/* #region header  */

.logo_image {
    height: 50px;
}

.logo_image img {
    height: 100%;
}

/* #endregion header  */


/* #region main */

.image_meme {
    height: 350px;
}

.image_meme img {
    height: 100%;
    max-width: 100%;
}

.text_container {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.text {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 700;
    color: white;
    -webkit-text-stroke: 0.8px black
}

.text:hover {
    cursor: pointer;
}

/* #endregion_main */

